.accountDetails {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  width: 100%;
  padding-top: 4%;

  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../../assets/chess-knight-closeup-compressed.jpg") no-repeat 35% 40% /
      cover;
}

.accountDetails__mainHeader {
  margin: 0 0 20px 0;

  font-size: 30px;
  color: var(--main-light-color);
}

.accountDetails__errorMessage {
  padding: 10px;

  color: #fff;
  background-color: red;
}

.accountDetails__successMessage {
  padding: 10px;

  color: #fff;
  background-color: green;
}

.accountDetails__form {
  display: flex;
  flex-direction: column;
  padding: 20px 30px;
  border-radius: 5px;

  background-color: rgba(205, 170, 125, 0.8);
}

.accountDetails__form label {
  font-size: 15px;
  color: var(--main-light-color);
}

.accountDetails__form input {
  padding: 5px;
}

.accountDetails__form__changePassword {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.accountDetails__form__changePassword h3 {
  margin: 20px 0 5px 0;
}

.accountDetails__form__btn {
  margin-top: 15px;
  padding: 5px 50px;
  align-self: center;

  cursor: pointer;
  background-color: var(--secondary-dark-color);
  color: var(--main-light-color);
  box-shadow: 1px 1px 2px var(--main-dark-color);
  transition: all ease-in-out 0.4s;
}

.accountDetails__form__btn:hover {
  background-color: var(--accept-color);
}

.inputBoxContainer {
  margin-top: -15px;
}

.inputBox {
  position: relative;
  width: 250px;
  display: flex;
  gap: 5px;
  margin-top: 20px;
}

.inputBoxChangePassword {
  position: relative;
  width: 250px;
  display: flex;
  gap: 5px;
  margin-top: 20px;
}

.input {
  width: 100%;
  padding: 10px;
  border: 1px solid var(--main-dark-color);
  background: var(--main-light-color);
  border-radius: 5px;
  outline: none;
  color: var(--main-dark-color);
  font-size: 0.75em;
  border-width: 3px;
}

.inputSpan {
  position: absolute;
  left: 0;
  padding: 10px;
  pointer-events: none;
  font-size: 0.65em;
  color: lightgray;
  text-transform: uppercase;
  transition: 0.5s;
}

.email {
  margin: 0 0 -10px 0;

  font-size: 20px;
  color: var(--main-light-color);
}

.inputBoxChangePassword input:valid ~ span,
.inputBoxChangePassword input:focus ~ span {
  color: var(--main-light-color);
  transform: translateX(10px) translateY(-10px);
  font-size: 12px;
  padding: 0 10px;
  background-color: var(--secondary-dark-color);
}

.font {
  font-family: var(--custom-font);
  letter-spacing: 1px;
}

@media (min-width: 800px) {
  .accountDetails__mainHeader {
    font-size: 35px;
  }

  .accountDetails__form input {
    height: 20px;

    font-size: 15px;
  }

  .accountDetails__form label {
    font-size: 2px;
  }

  .inputBoxChangePassword input:valid ~ span,
  .inputBoxChangePassword input:focus ~ span {
    transform: translateX(10px) translateY(-15px);
  }

  .inputSpan {
    top: 4px;
  }

  .email {
    margin: 0;

    font-size: 25px;
  }

  .accountDetails__form__changePassword h3 {
    font-size: 25px;
    display: flex;
    flex-direction: column;
  }

  .accountDetails__form__btn {
    font-size: 15px;
  }
}

@media (min-width: 1200px) {
  .accountDetails {
    padding-top: 2%;
  }
}
