.newTournament {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 90%;
}

.newTournament__form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.newTournament__form_errorMessage {
  padding: 5px;

  background-color: red;
  color: #fff;
}

.newTournament__form__header {
  font-weight: bold;
}

.newTournament__form h2 {
  margin: 0;
}
