.points {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.points__winningMessage {
  margin: 0 0 20px 0;

  width: 80%;
  max-width: 500px;
  padding: 15px 15px;

  border-radius: 5px;
  text-align: center;
  color: var(--main-light-color);
  background-color: rgba(92, 52, 52, 0.8);
}

.points__grid {
  display: grid;
  grid-template-columns: auto;
  margin: 4% 0 25px 0;
  padding: 20px 20px 0 20px;

  border-radius: 5px;
  background-color: rgba(205, 170, 125, 0.8);
}

.points__grid__rounds {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: minmax(0, 1fr);
  justify-self: center;
  height: 100%;
  width: 100%;
}

.points__grid__rounds h3 {
  margin: 0;

  text-align: center;
}

.points__grid__points__row {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: minmax(0, 1fr);
  justify-items: center;

  border-bottom: 1px solid #000;
}

.points__grid__points__row:last-child {
  border: none;
}

.points__grid__points__row p {
  color: var(--main-light-color);
}

.points__grid__rounds__roundNumber {
  color: var(--main-dark-color);
}

.points__grid__rounds h3 {
  margin: 0;
}
