.hamburgerMenu__overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
}

.hamburgerMenu__hamburger {
  z-index: 10;

  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  width: 36px;
  height: 23px;
  margin: 10px 8px 8px 24px;

  cursor: pointer;
}

.hamburgerMenu__hamburger__burger {
  z-index: 50;

  width: 30px;
  height: 5px;

  border-radius: 16px;
  background-color: #fff;
  transform-origin: 2px;
  transition: all 0.3s linear;
}

.hamburgerMenu__hamburger__burger1 {
  transform: rotate(35deg);
}

.hamburgerMenu__hamburger__burger2 {
  transform: translateX(100%);
  opacity: 0;
}

.hamburgerMenu__hamburger__burger3 {
  transform: rotate(-35deg);
}

.hamburgerMenu__dropdownMenu {
  position: fixed;
  z-index: 50;
  top: 54px;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
  padding: 50px 5px 20px 5px;
  height: 250px;
  width: 80%;
  margin: 5px 0 0 0;
  gap: 50px;

  visibility: hidden;
  transform: translateX(200%);
  transition: all 0.4s ease-in-out;
  font-size: 20px;
  font-weight: bold;
  line-height: 3rem;
  border-left: 1px solid #000;
  border-bottom: 1px solid #000;
  background-color: var(--main-dark-color);
  list-style: none;
  border-width: 3px;
}

.hamburgerMenu__dropdownMenu_show {
  visibility: visible;
  transform: translateX(10%);
}

.hamburgerMenu__dropdownMenu__link {
  margin-top: -100px;
  padding-left: 10px;

  color: var(--main-light-color);
  transition: all ease-in-out 0.4s;
  text-decoration: none;
}

.hamburgerMenu__dropdownMenu__link:hover {
  color: var(--secondary-dark-color);
}

.hamburgerMenu__dropdownMenu__btnContainer {
  position: absolute;
  bottom: 0;
  left: 0;

  display: flex;
  justify-content: flex-start;
  width: 50%;
  padding: 0 0 10px 10px;

  background-color: var(--main-dark-color);
}

.hamburgerMenu__dropdownMenu__btnContainer__logOutBtn {
  padding: 3px 5px;

  border-width: 0px;
  border-radius: 5px;
  background-color: var(--deny-color);
  color: var(--main-light-color);
  transition: all ease-in-out 0.4s;
  box-shadow: 1px 1px 2px black;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
}

.hamburgerMenu__dropdownMenu__btnContainer__logOutBtn:hover {
  background-color: var(--secondary-dark-color);
}

.hamburgerMenu__dropdownMenu__font {
  font-family: var(--custom-font);
  letter-spacing: 1px;
}

@media (min-width: 600px) {
  .hamburgerMenu__hamburger {
    display: none;
  }
}
