.matches {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
}

.matches__header,
.matches__roundSelector__header {
  margin: 10px 0;

  color: var(--main-light-color);
}

.matches__header {
  font-size: 30px;
}

.matches__roundSelector {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  align-items: center;
  justify-items: center;
  grid-gap: 15px;
  width: 100%;
  max-width: 600px;
  margin-bottom: 4%;
}

.matches__roundSelector__header {
  margin: 5px 0;

  font-size: 25px;
}

.matches__grid,
.matches__grid__pair {
  display: grid;
  grid-template-columns: 2fr 1fr 2fr;
  grid-column: span 3;
  justify-items: center;
}

.matches__grid {
  width: 80%;
  max-width: 700px;
  padding: 20px;
  margin-bottom: 20px;

  border-radius: 5px;
  background-color: rgba(205, 170, 125, 0.8);
}

.matches__grid__pair {
  width: 100%;
  margin-top: 20px;
  padding-top: 20px;

  border-top: 1px solid var(--main-dark-color);
}

.matches__grid__pair:first-child {
  margin-top: 0;
  padding-top: 0;
  padding-bottom: 5px;

  border: none;
}

.matches__grid__pair p {
  margin: 0;
  padding: 10px;
  border-radius: 10px;
  color: var(--main-light-color);
  font-size: 18px;
}

.matches__grid__pair__winBtn,
.matches__grid__pair__drawBtn,
.matches__grid__pair__resetBtn {
  padding: 5px 15px;
  margin-bottom: 10px;
}

.matches__grid__pair__winBtn {
  background-color: var(--secondary-dark-color);
  color: var(--main-light-color);
  transition: all ease-in-out 0.4s;
  box-shadow: 1px 1px 2px black;

  cursor: pointer;
}

.matches__grid__pair__winBtn:hover {
  background-color: var(--accept-color);
  color: #000;
}

.matches__grid__pair__drawBtn {
  transition: all ease-in-out 0.4s;
  box-shadow: 1px 1px 2px black;
  cursor: pointer;
}

.matches__grid__pair__drawBtn:hover {
  background-color: lightgrey;
}

.matches__grid__pair__drawBtn {
  padding: 5px 15px;
  margin-bottom: 10px;
}

.matches__grid__pair__resetBtn {
  margin: 0;

  background-color: var(--secondary-dark-color);
  color: var(--main-light-color);
  transition: all ease-in-out 0.4s;
  box-shadow: 1px 1px 2px black;
  cursor: pointer;
}

.matches__grid__pair__resetBtn:hover {
  background-color: var(--main-light-color);
  color: var(--main-dark-color);
}

.matches__grid__pair__winner {
  background-color: var(--accept-color);

  padding: 5px;
}

.matches__grid__pair__loser {
  padding: 5px;

  background-color: var(--deny-color);
}

.matches__grid__pair__draw {
  padding: 5px;

  background-color: grey;
}

.matches__spinner {
  height: 60px;

  animation: spin 2s infinite linear;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(359deg);
  }
}

.matches__nextRoundBtn {
  padding: 10px 20px;
  margin: 35px 0;

  background-color: var(--secondary-dark-color);
  color: var(--main-light-color);
  cursor: pointer;
  transition: all ease-in-out 0.4s;
}

.matches__roundSelector__chevron {
  height: 20px;
  padding: 5px 10px;

  background-color: var(--secondary-dark-color);
  border: 1px solid var(--secondary-dark-color);
  border-radius: 5px;
  color: var(--main-light-color);
  transition: all ease-in-out 0.4s;
  cursor: pointer;
}

.matches__roundSelector__chevron:hover {
  color: var(--secondary-light-color);
}

.matches__nextRoundBtn:hover {
  background-color: var(--secondary-light-color);
}

.matches__finishedMessage {
  width: 80%;
  max-width: 550px;
  padding: 15px 15px;

  border-radius: 5px;
  text-align: center;
  color: var(--main-light-color);
  background-color: rgba(92, 52, 52, 0.8);
}

@media (min-width: 800px) {
  .matches__roundSelector {
    margin-bottom: 1%;
  }

  .matches__roundSelector__header {
    font-size: 30px;
  }

  .matches__grid__pair p {
    font-size: 22px;
  }

  .matches__grid__pair__winBtn,
  .matches__grid__pair__drawBtn,
  .matches__grid__pair__resetBtn {
    padding: 10px 30px;

    font-size: 15px;
  }

  .matches__roundSelector__chevron {
    height: 30px;
  }
}
