.profile {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  width: 100%;
  padding-top: 30px;

  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../../assets/chess-white-pieces-with-black-pawn-compressed.jpg")
      no-repeat 40% / cover;
}

.profile__navLinks {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 70px;
  width: 100%;
  max-width: 450px;
}

.profile__navLinks__item {
  padding: 20px 0;
  width: 80%;
  text-align: center;

  background-color: var(--secondary-dark-color);
  color: var(--main-light-color);
  font-size: 18px;
  border: 1px solid #000;
  border-radius: 10px;
  text-decoration: none;
  transition: all ease-in-out 0.4s;
  box-shadow: 1px 1px 2px black;
}

.profile__navLinks__item:hover {
  background-color: var(--secondary-light-color);
  color: #fff;
}

/* .profile__navLinks__item:nth-child(odd) {
  background-color: var(--secondary-light-color);
  color: #fff;
  transition: all ease-in-out 0.4s;
}

.profile__navLinks__item:nth-child(odd):hover {
  background-color: var(--accept-color);
  color: #fff;
}

.profile__navLinks__item:nth-child(even) {
  background-color: var(--secondary-dark-color);
  color: #fff;
  transition: all ease-in-out 0.4s;
}

.profile__navLinks__item:nth-child(even):hover {
  background-color: var(--accept-color);
  color: #000;
} */

.profile__navLinks__logoutBtn {
  padding: 20px 20px;
  margin: 20px;
  width: 50%;
  text-align: center;

  font-size: 18px;
  background-color: var(--deny-color);
  color: #fff;
  transition: all ease-in-out 0.4s;
  border: 1px solid #000;
  border-radius: 15px;
  text-decoration: none;
  cursor: pointer;
}

.profile__navLinks__logoutBtn:hover {
  background-color: var(--secondary-light-color);
  color: #000;
}
