.tournamentDetails,
.tournamentDetails__views {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

/* .tournamentDetails__views {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
} */
