.classDetails {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;

  overflow-y: scroll;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../../assets/chess-girl-playing.jpg") no-repeat 35% 60% / cover;
}

.classDetails__headersContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.classDetails__mainHeader {
  margin: 0 0 10px 0;
  padding-top: 20px;

  color: var(--main-light-color);
  font-size: 30px;
}

.classDetails__subHeader {
  margin: 0;
  padding: 10px 0;

  color: var(--main-light-color);
}

.classDetails__classList {
  display: grid;
  grid-template-columns: 2fr 2fr 1fr;
  grid-gap: 5px;
  margin: 10px 10px 0 10px;
  width: 80%;
  max-width: 450px;
  align-self: center;
  padding: 0 10px;

  border-radius: 5px;
  background-color: rgba(205, 170, 125, 0.8);
  text-align: center;
}

.classDetails__classList__header {
  padding-top: 20px;
  margin: 0;

  color: var(--main-dark-color);
}

.classDetails__classList__studentDetails {
  display: grid;
  grid-template-columns: 2fr 2fr 1fr;
  grid-column: span 3;
  width: 100%;
  padding-bottom: 10px;

  border-bottom: 1px solid grey;
  text-align: center;
}

.classDetails__addStudentForm {
  display: flex;
  flex-direction: column;
  align-self: center;
  width: 50%;
  max-width: 300px;
  gap: 10px;
  margin: 20px 0;
  padding: 10px;

  text-align: center;
  border-radius: 5px;
  color: var(--main-light-color);
  background-color: rgba(205, 170, 125, 0.8);
}





.classDetails__addStudentForm__addBtn {
  width: 50%;
  max-width: 150px;
  align-self: center;

  color: var(--main-light-color);
  background-color: var(--secondary-dark-color);
  box-shadow: 1px 1px 2px var(--main-dark-color);
  transition: all ease-in-out 0.4s;
  cursor: pointer;
}

.classDetails__addStudentForm__addBtn:hover {
  background-color: var(--accept-color);
}

.classDetails__addStudentForm__label {
  font-size: 20px;
}

.inputBox {
  position: relative;
  

  display: flex;
  margin-top: 20px;
  width: 100%;
  gap: 5px;
}

.input {
  width: 100%;
  padding: 10px;
  border: 1px solid var(--main-dark-color);
  background: var(--main-light-color);
  border-radius: 5px;
  outline: none;
  color: var(--main-dark-color);
  font-size: 0.75em;
  border-width: 3px;
}

.icon {
  font-size: 25px;
  /* position: absolute; */
}
.inputSpan {
  position: absolute;
  left: 0;
  padding: 10px;
  pointer-events: none;
  font-size: 0.65em;
  color: lightgray;
  text-transform: uppercase;
  transition: 0.5s;
}

.inputBox input:valid ~ span,
.inputBox input:focus ~ span {
  color: var(--main-light-color);
  transform: translateX(10px) translateY(-7px);
  font-size: 0.65em;
  padding: 0 10px;
  background-color: rgba(205, 170, 125, 0.8);
}

.newClass__form__addBtn {
  width: 40px;
  border-width: 0px;
  background: var(--main-light-color);
  border-radius: 5px;
  position: absolute;
  right: 0;
  margin-top: 8px;
  margin-right: 10px;
}


.font {
  font-family: var(--custom-font);
  letter-spacing: 1px;
}

@media (min-width: 800px) {
  .classDetails__mainHeader {
    font-size: 40px;
  }

  .classDetails__subHeader {
    font-size: 25px;
  }

  .classDetails__classList__header {
    font-size: 20px;
  }

  .classDetails__addStudentForm {
    padding: 20px 10px;
  }

  .classDetails__addStudentForm__label {
    font-size: 25px;
  }

  .classDetails__addStudentForm__input {
    height: 20px;
  }

  .classDetails__addStudentForm__addBtn {
    font-size: 18px;
  }
}
