.newClass {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
  padding-top: 4%;

  overflow-y: scroll;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../../assets/chess-behind-black-pieces-resized.jpg") no-repeat 40% 80% /
      cover;
}

.newClass__mainHeader {
  font-size: 25px;
  color: var(--main-light-color);
}

.newClass__errorMessage {
  position: relative;
  justify-content: center;
  align-items: center;
  padding: 10px;
  font-size: 20px;

  color: #fff;
  background-color: red;
  text-align: center;
}

.newClass__successMessage {
  display: flex;
  justify-content: center;
  padding: 10px;

  color: #fff;
  background-color: green;
}

.newClass__form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.inputBox {
  position: relative;

  display: flex;
  margin-top: 20px;
  width: 250px;
  gap: 5px;
}

.input {
  width: 100%;
  padding: 10px;
  border: 1px solid var(--main-dark-color);
  background: var(--main-light-color);
  border-radius: 5px;
  outline: none;
  color: var(--main-dark-color);
  font-size: 0.75em;
  border-width: 3px;
}


.inputSpan {
  position: absolute;
  left: 0;
  padding: 10px;
  pointer-events: none;
  font-size: 0.65em;
  color: lightgray;
  text-transform: uppercase;
  transition: 0.5s;
}

.inputBox input:valid ~ span,
.inputBox input:focus ~ span {
  color: var(--main-dark-color);
  transform: translateX(10px) translateY(-7px);
  font-size: 0.65em;
  padding: 0 10px;
  background-color: var(--main-light-color);
}

.font {
  font-family: var(--custom-font);
  letter-spacing: 1px;
}

.icon {
  font-size: 25px;
}

.newClass__form__studentNameInput {
  display: flex;
  gap: 5px;
}

.newClass__form__addBtn {
  width: 40px;
  border-width: 0px;
  background: var(--main-light-color);
  border-radius: 5px;
  position: absolute;
  right: 0;
  margin-top: 8px;
  margin-right: 10px;
}

.save__class__btn {
  width: 40%;
  padding: 10px 20px;
  margin: 20px 0;
  max-width: 200px;
  font-size: 20px;

  cursor: pointer;
  color: var(--main-light-color);
  background-color: var(--secondary-dark-color);
  box-shadow: 1px 1px 2px var(--main-dark-color);
  transition: all ease-in-out 0.4s;
}

.save__class__btn:hover {
  background-color: var(--accept-color);
}

.classListHeader {
  margin: 0;

  font-size: 20px;
}

.newClass__classList {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  max-width: 250px;
  margin-top: 30px;
  padding: 10px 20px;

  background-color: rgba(205, 170, 125, 0.6);
  border-radius: 5px;
}

.newClass__classList__student {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  padding: 5px;
  width: 100%;
  height: 40px;
}

.newClass__classList__student__number,
.newClass__classList__student__name {
  color: var(--main-light-color);
}

.newClass__classList__student button {
  height: 30px;
}

.remove__student__btn {
  border: none;
  cursor: pointer;
  background-color: inherit;
}

.remove__student__btn__icon {
  font-size: 20px;
  color: var(--deny-color);
  /* box-shadow: -0.3px 0.3px 0.3px var(--main-dark-color); */
  transition: all ease-in-out 0.4s;
}

.remove__student__btn__icon:hover {
  color: var(--secondary-dark-color);
}

.classList__names {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}



@media (min-width: 800px) {
  .newClass {
    padding-top: 2%;
  }

  .newClass__mainHeader {
    font-size: 30px;
  }

  .classListHeader {
    font-size: 25px;
  }
}
