:root {
  --main-dark-color: #000;
  --main-light-color: #fff;
  --secondary-dark-color: #5c3434;
  --secondary-light-color: #cdaa7d;
  --accept-color: #8ca464;
}

body {
  margin: 0;
  font-family: "Helvetica", BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.ant-modal-body > div {
  display: grid;
  grid-template-columns: 4fr 2fr 1fr;
  justify-content: flex-start;
  align-items: center;
}
